
#about_us_wrap {
     position: relative;
     background-color: rgba(235, 235, 235, 0);
     top: 10vh;
     right: 65px;
     height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-bottom: 10vh;
   }

   #about_us_wrap .about_us_story {
     width: 70%;
     height: 80%;
     background-color: rgba(0, 0, 0, 0);
     border-radius: 25px;
     /* z-index: 2; */
     /* padding: 15px; */
     position: relative;
     box-shadow: 7px 10px 15px -3px rgba(0, 0, 0, 0.48);
   }

   #about_us_wrap .about_us_story .about_us_story_title {
     font-size: 48px;
     font-weight: 200;
     width: 100%;
     background-color: #1fbecf;
     position: absolute;
     border-radius: 25px 25px 0 0;
     padding: 5px 15px 0 12px;
     /* z-index: 1; */
   }

   #about_us_wrap .about_us_story .about_us_story_context {
     font-size: 22px;
     /* font-weight: bold; */
     padding: 0 15px 0 15px;
     pointer-events: none;
     z-index: 1;
     margin-top: 7.5%;

   }

   #about_us_wrap .about_us_story .about_us_contects {
     display: inline-block;
     width: 100%;
     position: absolute;
     background-color: rgb(99, 99, 99);
     bottom: 0;
     height: 35%;
     left: 0;

     border-radius: 0 0 25px 25px;

     display: flex;

     flex-direction: column;

     z-index: 1;
   }

   .about_us_contects .about_us_item {
     background-color: #f6bd88;
     /* width: 100%; */
     /* height: 100%; */
     height: 100%;
     border-top: 1px solid rgb(255, 255, 255);
   }

   .about_us_item .icon {
     font-size: 30px;
     text-decoration: none;
     line-height: 60px;
     padding-left: 25px;
     color: #494949;
     transition: 0.2s;

     cursor: pointer;
     margin: 0;
     /* padding: 0; */
     border: none;
     outline: none;
     background-color: transparent;
   }

   .about_us_contects .about_us_item:nth-child(4) {
     border-radius: 0 0 25px 25px;
   }

   .about_us_item:hover {
     color: #000000;
     background-color: #1fbecf;
     width: 100%;
   }

   .about_us_story #context_img {
     /* background-image: url(./jay-rembert-W2pFr3MSYkA-unsplash.jpg); */
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     z-index: -2;
     background-size: cover;
     border-radius: 25px;
    

   }